img.style-icon {
  width: 20px;
}
.navbar {
  background-color: rgb(255, 255, 255);
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navigation-bar {
  padding: 3% 0;
}
.icon-logo {
  padding-top: 20px;
}
.nombreLogo {
  margin-left: 20%;
  color: rgb(58, 58, 58);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  font-weight: 600;
}
.sup {
  display: flex;
  top: -2.5em;
  left: 119%;
  color: rgb(79, 79, 79);
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(14, 14, 14, 0.741) !important;
  font-weight: 600;
  font-size: large;
  margin-right: 6rem;
}
.navbar-collapse {
  margin-right: 10%;
}

.fa-2x {
  margin-left: 200px;
}

@media only screen and (max-width: 990px) {
  .fa-2x {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 770px) {
  .nombreLogo {
    margin-left: 2%;
  }
  .sup {
    visibility: hidden;
  }
}
@media only screen and (max-width: 1290px) {
  .navbar-light .navbar-nav .nav-link {
    margin-right: 3rem;
  }
}
