.projects {
  margin: 10% 0 5% 0;
}
.img {
  height: 300px;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  padding: 20px;
  height: 100%;
}

.img__wrap {
  position: relative;
}
.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #162332;
  color: rgba(255, 255, 255, 0.829);
  visibility: hidden;
  opacity: 0;
  justify-content: center;
}
.img__wrap:hover .img__description_layer {
  padding-top: 20px;
  visibility: visible;
  opacity: 1;
}
.img__description h2 {
  font-size: 2em;
}

.img__description {
  text-align: center;
  font-weight: bolder;
  transition: 0.2s;
  transform: translateY(1em);
}
.img__wrap:hover .img__description {
  transform: translateY(0);
}
.udemy-learning {
  background-color: #162332;
  text-align: center;
  color: white;
  padding: 3% 0;
}
.titulo-learning {
  padding: 20px 0;
}
.contenedor-learning {
  padding: 0 5%;
}
.toto img{
  width: auto auto;
  /* height: 100%; */
}
.titulo-tutor h2 {
  padding-bottom: 50px;
}
@media only screen and (max-width: 570px) {
  .grid-container {
    display: block;
  }
}
