.projects {
  margin: 15% 0;
}
.img {
  height: 300px;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  padding: 20px;
  height: 100%;
}

.img__wrap {
  position: relative;
}
.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: radial-gradient(
    circle,
    #940303c2,
    #880808c9,
    #930303be,
    #4400008a
  );
  color: rgba(255, 255, 255, 0.829);
  visibility: hidden;
  opacity: 0;
  justify-content: center;
}
.img__wrap:hover .img__description_layer {
  padding-top: 20px;
  visibility: visible;
  opacity: 1;
}
.img__description h2 {
  font-size: 2em;
}

.img__description {
  text-align: center;
  font-weight: bolder;
  transition: 0.2s;
  transform: translateY(1em);
}
.img__wrap:hover .img__description {
  transform: translateY(0);
}

@media only screen and (max-width: 570px) {
  .grid-container {
    display: block;
  }
}
