body,
html {
  height: 100%;
}
.img-form{
   background-image: url('../../img/prueba.png');
  height: 83vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* opacity: .3; */
}
.container-contact {
  margin-top: 5%;
  display: flex;
  padding: 10% 0;
}
.contact-form {
  width: inherit;
}
.contact-info {
  padding: 0 5%;
}
.card {
  /* background-color: transparent !important; */
  box-shadow: 0px 2px 12px #aaaaaa;
}
input.form-control,
textarea.form-control {
  background-color: transparent;
}

.form-control {
  border: transparent !important;
  border-bottom: tomato solid;
}
@media only screen and (max-width: 990px) {
  .container-contact {
    display: block;
  }
  .contact-info {
    margin: 50px 0;
  }
  .contact-form {
    margin-left: 0;
  }
}

