.image-about {
  background: url('../../img/b-cv3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-size: cover;
  min-height: 90vh;
  color: floralwhite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect-experience,
.sect-techn {
  margin-top: 20%;
  margin-bottom: 25%;
}
.justify-carrusel {
  display: flex;
  justify-content: space-around;
}
.carrusel {
  width: 25%;
}
.size-img {
  height: 25vh;
}
.foto-block {
  height: 300px;
  width: 70%;
}
.carrusel-title {
  padding-top: 20px;
}
.carrusel-description {
  margin-top: 10px;
  text-align: justify;
}
.languages,
.education {
  display: flex;
  justify-content: space-between;
}

.card-skill {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.card-skill li {
  text-decoration: none;
  list-style: none;
}

.article-left {
  padding-right: 25%;
}

/* .languages .education img {
  width: 200px;
} */
/* ------------------------------------------------------------------------------- */
@media only screen and (max-width: 990px) {
  .size-img {
    height: 60vh;
  }
  .carrusel {
    width: 100%;
  }
  .justify-carrusel {
    display: block;
  }
  .languages, .education{
    display: block;
  }
}

