.image-about {
  background: url('../../img/about.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  font-family: 'Rock Salt', cursive;
  color: white;
  padding: 17px 50px;
  background-color: black;

  letter-spacing: 10px;
}
.sect-experience,
.sect-techn {
  margin-top: 8%;
  margin-bottom: 5%;
}
.justify-carrusel {
  display: flex;
  justify-content: space-around;
}
.carrusel {
  padding: 15px;
  width: 25%;
  box-shadow: 9px 9px 36px -3px darkgrey;
}
.size-img {
  height: 25vh;
}
.foto-block {
  background: url('../../img/educa.png');
  background-repeat: no-repeat;
  min-height: 62vh;
  width: 110%;
}
.foto-language {
  width: 50%;
}
.carrusel-title {
  padding-top: 20px;
}
.carrusel-description {
  margin-top: 10px;
  text-align: justify;
}
.languages,
.education {
  display: flex;
  justify-content: space-between;
}
.titulo {
  padding-bottom: 40px;
}
.education-info {
  /* background-color: thistle; */
  padding: 20px;
  text-align: justify;
}

/* ------------------------------------------------------------------------------- */
@media only screen and (max-width: 425px) {
  .foto-block {
    background: url('../../img/educa2.png');
    background-repeat: no-repeat;
    width: 100%;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 990px) {
  .size-img {
    height: 60vh;
  }
  .carrusel {
    width: 100%;
  }
  .justify-carrusel {
    display: block;
  }
  .languages,
  .education {
    display: block;
  }
  .foto-block {
    width: 100%;
  }
}

/* las barras de progreso podrian ser lineas en llugar de circulos como si fuesen ramas de git
  tambien molaria hacer otra vista en donde se muestre mi trayectoria como las ramas de git esto 
  entreo en una vista y ya pa flipar q en cada punto explique lo q he aprendido como si fuesen commits
  */
