.img-home {
  background: url('../../img/home.jpg') no-repeat center;
  background-size: cover;
  min-height: 100vh;
}
.container {
  top: 40rem;
}
.line-style {
  width: 100%;
  border-bottom: rgba(204, 204, 204, 0.705) 2px solid;
}
.text-center {
  color: rgb(255, 255, 255);
  position: relative;
}

/* ----------------css sections  */
.about-section,
.stack-section,
.why-section,
.project-section {
  margin: 10% 0;
}
.display-home {
  display: flex;
}

.why-info,
.about-info {
  text-align: justify;
  padding: 0 20px;
}

.foto-about {
  width: 30%;
  border-radius: 50%;
}
.foto-why {
  width: 100%;
  height: 65vh;
}

/*---------------- css form  */
.img-contact {
  background: url('../../img/contact.jpg') no-repeat center;
  background-size: cover;
  min-height: 60vh;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formo {
  width: 30rem;
}
.contact-form {
  margin-left: 0px !important;
}
.contact-info {
  width: inherit;
}
.card {
  background-color: transparent !important;
  box-shadow: 0px 2px 12px #aaaaaa;
  padding: 10px;
}

/* ------------ mediaqueries  */
@media only screen and (max-width: 570px) {
  .formo {
    width: 15rem;
  }
}

@media only screen and (min-width: 220px) and (max-width: 990px) {
  .container {
    top: 30rem;
  }
  .display-home {
    display: block;
  }
}
